{% include head.html %}

  <body>
    <div class="main__wrapper">
      <div class="main">

        {{ content }}
        
        {% comment %} {% include footer.html %} {% endcomment %}

      </div>
    </div> <!-- main__wrapper DIV -->
    
    <script src="{{ "/assets/js/vendor/modernizr-3.11.2.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/plugins.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

  </body>
</html>